* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'VT323', monospace;
  background: #aaa;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'lead lead lead lead lead'
    'score score score score input';
  width: 90%;
  margin: auto;
  margin-top: 4em;
  padding: 1em;
  border: 1px solid #aaa;
  background: #29254f;
}

h1 {
  grid-area: lead;
  font-size: 50px;
  margin: 0.7em;
}

.display-scores {
  grid-area: score;
  display: grid;
  width: 70%;
  grid-template-areas:
    'recent recent refresh'
    'list list list';
  margin: auto;
}

.score-titles {
  grid-area: recent;
}

.refresh {
  grid-area: refresh;
  width: 70px;
  margin-left: auto;
}

.contain-scores {
  grid-area: list;
  width: 100%;
  list-style: none;
  border: 1px solid #aaa;
  margin-top: 15px;
  height: 350px;
  overflow: auto;
}

.contain-scores li {
  padding: 3px;
  border-bottom: 1px solid #aaa;
  color: gold;
}

.add-score {
  grid-area: input;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  gap: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#submit {
  width: 60px;
  padding: 5px;
  align-self: flex-end;
}

footer {
  margin-top: 45vh;
  border: 1px solid #aaa;
  width: 100%;
  height: 40px;
  background: #aaa;
}
